html,
body {
  background-color: black;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
  scroll-padding-top: 100px;
  text-decoration-color: rgb(123, 255, 0);
  width: 100%;
}

.MDBContainer {
  background-color: #000000 !important;
  color: #7fff00;
  height: 100vh;
  width: 100vw;
}

.navbar {
  background: linear-gradient(
    to center,
    rgba(128, 128, 128, 0) 0%,
    rgba(128, 128, 128, 1) 50%,
    rgba(128, 128, 128, 0) 100%
  );
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  z-index: 2;
}

.nav {
  background: linear-gradient(
    to bottom,
    rgba(128, 128, 128, 0) 0%,
    rgb(128, 128, 128) 50%,
    rgba(128, 128, 128, 0) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.logo.zoom-out {
  opacity: 0;
  transform: scale(0);
  transition:
    transform 1.5s ease-out,
    opacity 1s ease-out;
}

.logo.zoom-in {
  opacity: 1;
  transform: scale(1);
}

.home {
  background-image: url('/src/Images/HomeImages/homeImg.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  margin-top: 0;
  padding-bottom: 8%;
  padding-top: 0;
}

#chris-img.slide-out {
  opacity: 0;
  transform: translateX(100%);
}

#chris-img.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.skill {
  padding: 0 0 50px;
  position: relative;
}

.skill-box {
  padding-top: 2rem;
}

.skill-box h2 {
  display: flex;
  font-size: 45px;
  font-weight: 700;
  justify-content: space-around;
  padding-bottom: 5rem;
  text-align: center;
}

.skill-project-bx {
  background: #323030;
  border: 5px solid white;
  border-radius: 64px;
  margin-top: auto;
  padding: 60px 50px;
  text-align: center;
}

.skill-slider {
  margin: 0 auto;
  position: relative;
  width: 80%;
}

.skill-slider .item-img {
  border: 3px solid white;
  border-radius: 50%;
  width: 50%;
  margin: 0 auto 15px;
}

.project-box {
  background: #7fff00;
  border: 8px solid white;
  border-radius: 64px;
  color: white;
  margin-top: 10em;
  padding: 60px 50px;
  text-align: center;
}

.project-box h2 {
  display: flex;
  font-size: 45px;
  font-weight: 700;
  justify-content: space-around;
  padding-bottom: 2rem;
  text-align: center;
}

.project-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 600px;
  max-height: auto; 
}

.cards-body {
  border: 5px solid yellow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.project-img {
  border: 5px solid #7fff00;
  border-radius: 10px;
}

.MDBCardImage {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
}

.MDBCard-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.MDBCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background: linear-gradient(
    to bottom,
    rgba(128, 128, 128, 0) 0%,
    rgb(128, 128, 128) 50%,
    rgba(128, 128, 128, 0) 100%
  );
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: 100%;
  z-index: 2;
  bottom: 0;
  left: 0;
}
